<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
           <p> <img src="https://jenkins-x.io/img/profile.png" with="100" height="100"></p>
            By the <a href="https://github.com/jenkins-x/jx/contributors" class="link">Jenkins X Authors</a><br>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4 col-xl-3 align-middle">
            
          <ul class="nav-list">
            <li><a href="https://github.com/jenkins-x/jx/issues/new">File an Issue</a></li>
            <li><a href="#">Get Help</a></li>
            <li><a href="#">Discuss Source Code</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="https://github.com/jenkins-x"><span class="zmdi zmdi-github-alt zmdi-hc-5x"></span></a></div>
      <div class="col"><a class="social-inner" href="https://twitter.com/jenkinsxio"><span class="zmdi zmdi-twitter zmdi-hc-5x"></span></a></div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/material.js"></script>
  </footer>



